[submodule "vendor/plugins/leave_management"]
	path = vendor/plugins/leave_management
	url = git@github.com:joshsoftware/leave_management.git
[submodule "vendor/plugins/employee_management"]
	path = vendor/plugins/employee_management
	url = git@github.com:joshsoftware/employee_management.git
