<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Site Under Construction</title>
</head>
<div style="width:1200px;height:500px;text-align:center;">
<img src="/images/under_construction/under_construction<%= $THEME%>.gif" alt="Site Under Construction" align="absmiddle"/>
</div>
<body>
</body>
</html>
