*{
	padding:0px;
	margin:0px;
}
img, div { behavior: url(iepngfix.htc); }
#topblack{
	background-color:#444334;
	width:100%;
	height:35px;
	border-bottom:4px solid #769b28;
	background-position:top;
}
#wrapper{
	width:1003px;
	margin:auto;
}
#top{
	width:80%;
	margin:auto;
	height:39px;
}
#topimage{
	background-image:url(../images/greenimage.jpg);
	background-repeat:no-repeat;
	width:1003px;
	height:185px;
}
#container{
	width:1003px;
	height:100%;
}
#left{
	padding:0px;
	margin:0px;
	float:left;
	width:342px;
	height:417px;
	background-color:#eeeeec;
}
#right{
	float:right;
	width:614px;
	padding-left:45px;
	margin-top:16px;
}
#rightinner{
	float:right;
	width:661px;
	margin-top:16px;
}
#matter{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	text-align:justify;
	line-height:20px;
	padding-right:22px;
}
#matterinner{
	background-image:url(../images/line.jpg);
	background-repeat:repeat-y;
	padding-left:30px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	text-align:justify;
	line-height:20px;
	border-top:1px solid #e0dede;
	width:629px;
    min-height: 470px;
    height: auto !important;
    /*height: 530px;*/
}
#innerlinks{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	float:right;
	padding-top:3px;
	margin-right:19px;
	_margin-right:10px;
	padding-left:3px;
	padding-right:3px;
	font-weight:bold;
}
#innerlinks a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	text-decoration:none;
		
	
}
#innerlinks a:hover {
	text-decoration:underline;
}
#innerlinks a.active{
	text-decoration:underline;
}
.normaltxt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
}
.tablelinks{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	font-weight:bold;
}
.tablelinks a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	text-decoration:none;
}
.tablelinks a:hover {
	text-decoration:underline;
}

#shell{
	width:591px;
	margin-top:10px;
	border-top:1px dotted #336600;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#444334;
	text-align:justify;
	line-height:20px;
}
#shellleft{
	width:322px;
	padding-right:25px;
	margin:0px;
	float:left;
	border-right:1px dotted #c5c5c5;
}
#shellright{
	width:220px;
	padding-left:23px;
	margin:0px;
	float:right;
	
}
#grey{
	width:342px;
	margin:auto;
	height:326px;
	background-color:#f8f8f8;
}
#leftnavtitlebg{
	background-image:url(../images/leftnavtitlebg.jpg);
	background-repeat:no-repeat;
	width:342px;
	height:47px;
}
.tool{
	height:28px;
	width:28px;
	background-image:url(../images/tool.jpg);
	background-repeat:no-repeat;
}
#greytitle{
	padding-top:22px;
	padding-bottom:21px;
	font-family:Verdana, "Arial", Helvetica, sans-serif;
	font-size:18px;
	color:#7f7f7e
}
#greytitleleft{
	padding-top:10px;
	padding-left:17px;
	font-family:Verdana, "Arial", Helvetica, sans-serif;
	font-size:18px;
	color:#7f7f7e
}
#footer{
	width:100%;
	height:138px;
	background-color:#d7d7d7;
	border-top:1px dotted #b3b2b2;
}
#footerlinks{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#444334;
	text-align:center;
	margin-top:36px;
}
#footerlinks a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#444334;
	text-decoration:none;
}
#footerlinks a:hover {
	text-decoration:underline;
}
#footerlinks a.active{
	text-decoration:underline;
}
.gr{
	color:#767676;
	padding-left:23px;
}
.caption{
	color:#6c6c67;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	margin-left:345px;
	padding-top:43px;
	margin-right:85px;
}
#titlegreenleft{
	background-color:#cfeb79;
	margin-top:1px;
	height:38px;
	float:left;
	background-image:url(../images/greentran.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	
}
.greentitle{
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#6c6c67;
	padding-top:3px;
	padding-left:20px;
	padding-right:20px;
}
th{
	background-color:#e1e1de;
}
td{
	height:30px;
}
#rightinnerbottom{
	background-image:url(../images/rightinnerbottom.jpg);
	background-repeat:repeat-x;
	height:11px;
	width:659px;
	/*border-right:1px solid #e0dede;*/
	float:left;
	
}
	
/*--------------------------------------------------------------------------------------------------*/

#menu
{

float:right;

padding-top:1px;
_padding-top:10px;
width:323px;
height:29px;

}

#top_links a
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	line-height:34px;
	display:block;
	float:right;
	padding:0px 12px 0px 12px;
	/*border-right:1px solid #cccccc;
	background-image:url(../images/grey1.jpg);*/
	background-repeat:repeat-x;
}

#top_links a.normal:hover
{
	color:#FFFFFF;
	background-color:#769b28;
	line-height:34px;
	
	
	
}

#top_links a.selec
{
	color:#575757;
	background-color:#769b28;
	
}

.glossymenu{

padding: 0;
width: 342px; /*width of menu*/
}
.glossymenu div.submenu ul li{
	border-bottom: 1px dashed #dadad7;
	list-style-type: none;
	line-height:22px;
}
.glossymenu div.submenu ul li a{
display: block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color: #444334;
text-decoration: none;
padding-bottom:3px;
padding-left: 35px;
width:303px;
}
.glossymenu div.submenu ul li a:hover{
background: #e1e1de;
colorz: white;
}
.glossymenu div.submenu ul li a.active{
background: #e1e1de;
colorz: white;
}
.but {
font: 11px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
float:right;
display:block;
margin-top:10px;
} 
.but a {
font: 11px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
margin-bottom:10px;
padding:5px;
display: inline;
background: #efefef;
border:2px solid #a5a3a3;
text-decoration:none;
display:block;
}
.but a:hover {
	color:#000000;
	text-decoration:none;
}
.greenbut {
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
float:left;
display:block;
margin-top:0px;
} 
.greenbut a {
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
margin-bottom:0px;
padding:3px;
display: inline;
background: #cfeb79;
border:2px solid #abd64f;
text-decoration:none;
display:block;
min-height:14px;
}
.greenbut a:hover{
	color:#000000;
	text-decoration:none;
}

.browse {
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
display:block;
margin-top:5px;
float:right;
margin-right:180px;
margin-top:-1px;
_margin-right:80px;
_margin-top:-20px;
} 
.browse a {
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
margin-bottom:10px;
padding:3px;
display: inline;
background: #cfeb79;
border:2px solid #abd64f;
text-decoration:none;
display:block;
}
.browse a:hover {
	color:#000000;
	text-decoration:none;
}








#blanket {
background-color:#000;
opacity: 0.65;
filter:alpha(opacity=65);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
*width:170%; _width:170%;
}

div.overlay10 {          
background-image:url(../blank.gif);
background-color: #CCCCCC;
/*width:546px;     
height:590px;   */               
display:none;          
/*padding:25px 0px 35px 25px; */

}  
div.overlay10 div.close {     
background-image:url(../images/close.gif);     
position:absolute;     
right:5px;     
top:5px;     
cursor:pointer;     
height:17px;     
width:17px; 
} 
div.overlay11 {          
background-image:url(../blank.gif);
background-color: #CCCCCC;
/*width:546px;     
height:590px;   */               
display:none;          
/*padding:25px 0px 35px 25px; */

}  
div.overlay11 div.close {     
background-image:url(../images/close.gif);     
position:absolute;     
right:5px;     
top:5px;     
cursor:pointer;     
height:17px;     
width:17px; 
} 

.greensubbut {
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
float:left;
display:block;
font: 10px Verdana, Arial, Helvetica, sans-serif;
color: #4f4d4d;
font-weight:bold;
margin-bottom:10px;
padding:3px;
display: inline;
background: #cfeb79;
border:2px solid #abd64f;
text-decoration:none;
display:block;
}
.greenbut :hover {
	color:#000000;
	text-decoration:none;
}

#innerlinks .selected {
  color: #C5C3C3;
}

span.link {
  position: relative;
}

span.link a span {
  display: none;
}

span.link a:hover {
  font-size: 99%;
  font-color: #000000;
}

span.link a:hover span { 
  display: block; 
  position: absolute; 
  margin-top: 10px; 
  margin-left: -10px; 
  width: 175px; padding: 5px; 
  z-index: 100; 
  color: #ffffff; 
  background: #444334; 
  font: 12px "Arial", sans-serif;
  text-align: left; 
  text-decoration: none;
}                                                                                    

.eleft {
  float:left;
}

li {
  margin-left:20px;

}                                                                                    

.showclass td{

  font-weight: bold;
  width: 50%;
}

/*ul.cloud { text-align: justify; word-spacing: 10px; } */
ul.cloud { word-spacing: 0px; }
ul.cloud li { display: inline; word-spacing: 0px; margin-left: 0px; }
ul.cloud li a.size1, ul.cloud li a.size1:active, ul.cloud li a.size1:visited { font-size: 1em; text-decoration:none;color:#63686E }
ul.cloud li a.size2, ul.cloud li a.size2:active, ul.cloud li a.size2:visited { font-size: 1.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size3, ul.cloud li a.size3:active, ul.cloud li a.size3:visited { font-size: 1.754em; text-decoration:none;color:#63686E }
ul.cloud li a.size4, ul.cloud li a.size4:active, ul.cloud li a.size4:visited { font-size: 2em;font-weight: bold; text-decoration:none;color:#63686E }
ul.cloud li a.size5, ul.cloud li a.size5:active, ul.cloud li a.size5:visited { font-size: 2.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size6, ul.cloud li a.size6:active, ul.cloud li a.size6:visited { font-size: 2.554em;font-weight: bold; text-decoration:none;color:#63686E }

.alert {
    margin-left:30px;
    color:#DF0101;
}


div.pager {
	border-top: 1px solid #dfdfdf;
	padding-top: 12px;
	text-align: center;
	float: left; 
	display: inline;
	clear: both;
	position: relative;
	width: 95%;
	margin-top: 16px;
}
div.pager ul, div.pager ul li { display: inline; }
div.pager ul li a,
div.pager ul li a:active,
div.pager ul li a:visited { padding: 2px 8px; color: #a1a1a1; }
div.pager ul li.selected a,
div.pager ul li.selected a:active,
div.pager ul li.selected a:visited { font-weight: bold; color: #474747; }

div.pager a.left { position: absolute; top: 10px; left: 0; }
div.pager a.right { position: absolute; top: 10px; right: 0; }

a.ar-normal, a.ar-normal:active, a.ar-normal:visited,.next_page, .next_page:active, .next_page:visited {
	font-weight: bold;
	color: #474747;
	padding-right: 26px;
    text-decoration:none;
	background: url(/images/ar_normal.gif) no-repeat center right;
}
a.al-normal, a.al-normal:active, a.al-normal:visited, .prev_page, .prev_page:active, .prev_page:visited {
	font-weight: bold;
	color: #474747;
	padding-left: 26px;
    text-decoration:none;
	background: url(/images/al_normal.gif) no-repeat center left;
}
.disabled{ display: none; }

.oddrow 
