
<div id = "left">
  <div id = "leftnavtitlebg"><div id = "greytitleleft">Features of eJosh</div></div>
  <div id = "grey">
    <div class="glossymenu">
      <div class="submenu">
        <ul>
          <% Extension.all.each do |extension|  %>  
            <li><%= link_to "#{image_tag('/images/tool.png', :border => 0, :style => 'vertical-align:middle; margin-right:10px;' )} #{extension.title}", extension.entry_point %><li>
          <% end %>  
          <% if current_user.role.title == "Admin"  %>  
            <li><%= link_to "#{image_tag('/images/extention.png', :border => 0, :style => 'vertical-align:middle; margin-right:10px;' )} Extensions", admin_extensions_path %></li>
          <% end %>  
        </ul>
      </div>	
    </div>
  </div>
</div>
