<%= render :partial => '/layouts/admin/tiny_mce' %>
<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => 'category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/ext.png" style="vertical-align:middle; margin-right:8px;" />Extension</div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <br/><br/>
        <table width="601" border="1" cellspacing="0" cellpadding="0" bordercolor="#c5c3c3">
          <tr>
            <th width="54" align="center" valign="middle">Sr. No.&nbsp;</td>
            <th width="210" align="center" valign="middle">Title</th>
            <th width="170" align="center" valign="middle">Actions</th>
          </tr>
        </table>
        <br/>
        <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>
    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
