
<div class="feature_right">
  <div id = "f_shell">
    <div id = "fmenu_mid">
      <div id = "fmenu_top"></div>
      <% if @page.category_tag_cloud %>
        <%= render :partial => 'category_tag_cloud' if !@category_tags.empty?  %>
      <% else %>
        <div class="glossymenu">
          <div class="submenu">
            <ul>
              <% for category in @categories %>
                <li> <%= link_to "#{image_tag category.image.url(:small_thumb), :style => 'vertical-align:middle; margin-right:10px; margin-top:12px;'} <span class='sel'>#{category.display_name}</span><div class='f_text'>#{category.description}</div>", sub_general_path(:page =>  @page.name, :category => get_category_permalink(category)), :class => check_active(@page, category) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div> 
    <div id = "fmenu_bot"></div>
    <% if @page.tag_cloud %>
    <div id = "fmenu_mid">
      <div id = "fmenu_top" style="margin-top:30px;"></div>
        <%= render :partial => 'tag_cloud' if !@tags.empty?  %>
    </div> 
    <div id = "fmenu_bot"></div>
    <% end %>
  </div>  
</div>
