
		<div id ="greennav">
			<div id ="greenleft"></div>
			<div id ="greenright"></div>
			<div id ="greenmid">
				<a href="JavaScript:gotoMyLink('about.html')">About eJosh</a>
				<a href="JavaScript:gotoMyLink('features.html')">Features</a>
				<a href="#">Demo</a>
				<a href="#">Your Account</a>
				<a href="#">Pricing</a>
				<a href="#">Help & Support</a>
			</div>
		</div>
		
		<div id="display">
			<div id ="displayleft"></div>
			<div id = "displayright"></div>
			<div id = "displaymid">
				
				<div id = "shell">
					<div id = "i1"><img src="images/ejoshweb1/image1.png" style="margin-top:21px; margin-left:-10px; margin-bottom:10px;" /><br />
Have your own <br />
			      control panel</div>
					<div id = "i2"><img src="images/ejoshweb1/image2.png" style="margin-top:30px; margin-left:22px; margin-bottom:19px;" /><br/>
					 Customize<br/> using your own <br/> colors</div>
					<div id = "i3"><img src="images/ejoshweb1/image3.png" style="margin-top:27px; margin-left:70px; margin-bottom:10px;" /><br/>
					 <div style="padding-left:60px;">Customize using  <br />
				    your own  layouts</div></div>
					<div id = "i4"><img src="images/ejoshweb1/image4.png" style="margin-top:19px; margin-left:97px; margin-bottom:10px;" /><br/>
					 <div style="padding-left:100px;">Plug-in your <br/>customized<br/> 
				    Applications</div></div>
				</div>
				
			</div>
		</div>
		
	<div id = "container">
	<div id="borbig"></div>
		<div id = "containerleft">
		<img src="images/ejoshweb1/question.jpg" style="vertical-align:middle;" /><span class="title">What is eJosh All About ?</span><br/>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent<br/><br/>
		<img src="images/ejoshweb1/user.jpg" style="vertical-align:middle; padding-right:8px;" /><span class="title">Who Uses eJosh ?</span><br/>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
		</div>
		<div id ="containerright">
			<div id = "black">
				<div id ="blackleft"></div>
				<div id ="blackright"></div>
				<div id ="blackmid">
					<img src="images/ejoshweb1/easy.jpg" style="vertical-align:middle; margin-top:7px; padding-right:10px;" /><span class="title">eJosh Is Easy To Use</span><br/>
					<div class="space">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit Ut wisi. Ut wisi enim ad minim veniam.</div>
				</div>
			</div>	
			<br/>
			<div id = "black">
				<div id ="blackleft"></div>
				<div id ="blackright"></div>
				<div id ="blackmid">
					<img src="images/ejoshweb1/tools.jpg" style="vertical-align:middle; margin-top:7px; padding-right:8px;" /><span class="title">eJosh is easy To Customize</span><br/>
					<div class="space">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit Ut wisi. Ut wisi enim ad minim veniam.</div>
				</div>
			</div>
			
		</div>
