#blue{
	background-image:url(../images/line_violet.jpg);
	background-repeat:repeat-x;
	height:149px;
	width:1003px;
	margin:auto;
}
#bluenav{
	background-image:url(../images/violetmid.jpg);
	background-repeat:repeat-x;
	width:150px;
	height:27px;
	margin-left:563px;
	
}
#blueleft{
	float:left;
	background-image:url(../images/violetleft.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:7px;
	float:left;
}
#blueright{
	background-image:url(../images/violetright.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:7px;
	float:right;
}
#bluemid{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	padding-top:8px;
}
#bluemid a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
}
#bluemid a:hover{
	text-decoration:underline;
	color:#6a6969;
}
#bluemid a.active{
	text-decoration:underline;
}
#links{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	padding-top:41px;
	padding-left:218px;
	position:absolute;
}
#links a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
	padding-left:6px;
	padding-right:6px;
	
}
#links a:hover{
	text-decoration:underline;
}
#links a.active{
	text-decoration:underline;
}