*{
	padding:0px;
	margin:0px;
}
img, div { behavior: url(iepngfix.htc); }
body{
	background-color:#6a6565;
}
#wrapper{
	width:1003px;
	margin:auto;
	height:100%;
}
#blue{
	background-image:url(../images/line.jpg);
	background-repeat:repeat-x;
	height:149px;
	width:1003px;
	margin:auto;
}
#top{
	width:961px;
	height:149px;
	margin:auto;
}
#topleft{
	float:left;
    /*background-image:url(../images/logo.jpg);*/
	background-repeat:no-repeat;
	width:248px;
	height:149px;
}
#topright{
	float:right;
	width:713px;
	padding:0px;
	margin:0px;
}
#bluenav{
	background-image:url(../images/bluemid.jpg);
	background-repeat:repeat-x;
	width:150px;
	height:27px;
	margin-left:563px;
	
}
#blueleft{
	float:left;
	background-image:url(../images/blueleft.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:7px;
	float:left;
}
#blueright{
	background-image:url(../images/blueright.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:7px;
	float:right;
}
#bluemid{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	padding-top:8px;
}
#bluemid a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#9ab6d2;
	text-decoration:none;
}
#bluemid a:hover{
	text-decoration:underline;
	color:#FFFFFF;
}
#bluemid a.active{
	text-decoration:underline;
}
#tag{
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	padding-top:21px;
	padding-left:551px;
	padding-bottom:18px;
	text-align:right;
	
}

#links{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#6a6969;
	font-weight:bold;
	padding-top:41px;
	position:absolute;
}
#links a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#6a6969;
	text-decoration:none;
	padding-left:6px;
	padding-right:6px;
	
}
#links a:hover{
	text-decoration:underline;
}
#bor{
	background-image:url(../images/bl.jpg);
	background-repeat:repeat-x;
	height:10px;
	width:255px;
	margin:auto;
}
#borbig{
	background-image:url(../images/bl.jpg);
	background-repeat:repeat-x;
	height:10px;
	width:974px;
	margin:auto;
}
.title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#63686e;
	padding-left:8px;
	padding-bottom:26px;
}
.titleblue{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#445d76;
	font-weight:bold;
	padding-left:8px;
	padding-bottom:26px;
}
.innertitle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#445d76;
	padding-bottom:26px;
}
#container{
	width:1003px;
	margin:auto;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#63686e;
	line-height:20px;
	padding-top:13px;
	padding-bottom:35px;
	
}
#left{
	float:left;
	width:620px;
	padding-left:34px;
	padding-right:38px;
	border-left:1px solid #ededed;
	border-right:1px dashed #d4dfec;
}
#leftinner{
	float:left;
	width:249px;
	padding-left:21px;
}
#leftnav{
	width:247px;
	border:1px solid #ececec;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#445d76;
	line-height:30px;
	background-color:#f7f7f7;
	text-align:right;
	/*padding-bottom:20px;*/
}
#leftnav a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#445d76;
	text-decoration:none;
	display:block;
	line-height:30px;
	padding-right:27px;
}
#leftnav a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#445d76;
	font-weight:bold;
	text-decoration:none;
	display:block;
	background-color:#ececec;
	border:1px solid #e4e4e4;
	line-height:28px;
	
}
#leftnav a.active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#445d76;
	font-weight:bold;
	text-decoration:none;
	display:block;
	background-color:#ececec;
	border:1px solid #e4e4e4;
	line-height:28px;
	
}
#leftnavl{
	width:247px;
	border:1px solid #ececec;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#445d76;
	line-height:17px;
	background-color:#f7f7f7;
	text-align:left;

}
#leftnavl a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#445d76;
	text-decoration:none;
	display:block;
	line-height:17px;
	padding-right:7px;
}
#leftnavl a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#445d76;
	text-decoration:none;
	display:block;
	background-color:#ececec;
	line-height:17px;
	
}
#leftnavl a.active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#445d76;
	text-decoration:none;
	display:block;
	background-color:#ececec;
	line-height:17px;
	
}

#shadow{
	background-image:url(../images/shadow.jpg);
	background-repeat:repeat-x;
	height:11px;
	width:620px;
	margin-top:19px;
	margin-bottom:27px;
}
.scale{
	float:left;
	margin-right:10px;
	margin-top:17px;
	width:104px;
	height:98px;
}
.world{
	float:left;
	margin-top:18px;
	margin-right:18px;
}
.ter{
	float:right;
	margin-left:18px;
}
#rightinner{
	float:right;
	width:667px;
	margin:0px;
	color:#445d76;
	padding-right:26px;
	padding-left:40px;
}
#right{
	float:right;
	width:255px;
	margin:0px;
	padding-right:27px;
	padding-left:27px;
}
.more a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#63686e;
	font-weight:bold;
	text-decoration:none;
}
.more a:hover{
	color:#000000;
}
#footer{
	height:16px;
	width:1003px;
	background-color:#dce6f0;
	
}
#footerlinks{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#dce6f0;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
#footerlinks a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#dce6f0;
	text-decoration:none;
}
#footerlinks a:hover{
	color:#9cc4ec;
}
.earth{
	background-image:url(../images/earth.jpg);
	background-repeat:no-repeat;
	width:185px;
	height:210px;
	float:right;
	margin-left:20px;
	margin-right:20px;
	
	
}
#borbig1{
	height:10px;
	width:660px;
	margin-top:4px;
	margin-bottom:5px;
	border-bottom:1px dotted #cccbcb;
}

/*ul.cloud { text-align: justify; word-spacing: 10px; } */
ul.cloud { word-spacing: 10px; }
ul.cloud li { display: inline; word-spacing: 0px; }
ul.cloud li a.size1, ul.cloud li a.size1:active, ul.cloud li a.size1:visited { font-size: 1em; text-decoration:none;color:#63686E }
ul.cloud li a.size2, ul.cloud li a.size2:active, ul.cloud li a.size2:visited { font-size: 1.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size3, ul.cloud li a.size3:active, ul.cloud li a.size3:visited { font-size: 1.754em; text-decoration:none;color:#63686E }
ul.cloud li a.size4, ul.cloud li a.size4:active, ul.cloud li a.size4:visited { font-size: 2em;font-weight: bold; text-decoration:none;color:#63686E }
ul.cloud li a.size5, ul.cloud li a.size5:active, ul.cloud li a.size5:visited { font-size: 2.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size6, ul.cloud li a.size6:active, ul.cloud li a.size6:visited { font-size: 2.554em;font-weight: bold; text-decoration:none;color:#63686E }
#leftnav_tags{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7b7a7a;
	background-color:#f3f3f3;
	display:block;
	line-height:25px;
}

#blank{
	float:left;
	padding-left:34px;
	padding-right:38px;
	border-left:1px solid #ededed;
	border-right:1px dashed #d4dfec;
}
