
			<div id = "right">
			<div id = "greytitle">What Is eJosh All About ?</div>
			<div id="matter">
                Developing website and maintaining was never been easier for any company. Now with eJOSH you can select your layout and color from the pre-defined list and start adding your page with an easy to use Admin Panel. You can make changes to live site without waiting for you web designer or system administrator. For an example, if you want add page, add link in the footer, change the copyright information or change the content. Just login to admin panel and
make appropriate change it will automatically reflected on your website.
            </div>
			<div id = "shell">
			  <div id = "shellleft">
				<div id = "greytitle">Manage Plug-ins</div>
                eJOSH has a list of pre-defined listplugins to help in managing 
your office centralized and makes your office paperless.
<br/>
Employee management
    Helps in maintain the employees from centralized server with organization hierarchy.
<br/>
Leave management
    Leave application, leave approval, leave rejection, list of availed leaves and roll over.
<br/>
Timesheet management
    Filling timesheet, every day report mailed to managers, notification for non entries.
<br/>
Hiring management
    Resume uploading from site, resume filtering, resume search based on skillse<br/> and many more.
                <div class="but"><%= link_to  "MANAGE PLUG-IN HERE", plugins_path %></a></div>
				</div>
				<div id = "shellright">
				<div id = "greytitle">Site Configuration</div>
                Set your company logo, company name, tag line and copyright information to be shown on your website.
                <div class="but"><%= link_to  "START CONFIGURATION", admin_sites_path %></a></div>
				</div>
				<div style="clear:both"></div>
			</div><br/>
			</div>
