#left{
	background-image:url(../images/left_green.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:5px;
	float:left;
	
}
#right{
	background-image:url(../images/right_green.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:5px;
	float:right;
}
#middle{
	
	height:27px;
	background-color:#b3dc26;
	width:982px;
	padding-top:5px;

}
#mid_bot{
	background-image:url(../images/mid_bot_green.jpg);
	background-repeat:no-repeat;
	height:57px;
	width:982px;
	
}