
<% remote_form_for @page, :url => add_section_admin_pages_path(:page => @page.id), :html => { :method => :post, :builder => BbFormBuilder }do %>
  <table>
    <tr><td><label><h4>Page Sections </h4></label></td><td><label><h4>Categories</h4> </label></td><td></td></tr> 
    <tr>
      <td width="30%"><%= select_tag "page_section", options_for_select( @page_sections.collect { |p| [p.title, p.id] } ), :style => "width:150px;" %> </td>
      <td width="30%"><%= select "category","selected", options_for_select( @categories.collect { |p| [p.display_name, p.id] } ),{ :include_blank => true }, :style => "width:150px;" %> </td>
      <td width="20%"><div id="add_button"><%= submit_tag 'Add Section', :class => "greensubbut", :loading => "show_hide('spinner','add_button')",:complete => "show_hide('add_button','spinner')"%></div>
      <img src="/images/spinner.gif" id="spinner" width="15" alt="spinner" style="display:none;padding-top:3px;"/></td>
    </tr>
  </table>
<% end %>

