<%= render :partial => '/layouts/admin/tiny_mce' %>
<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/ext.png" style="vertical-align:middle; margin-right:8px;" />Plugins</div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <br/><br/>
        <% form_for @extension, :url =>  admin_extensions_path, :method => :post  do |extension| %>
          <table width="531" border="0" cellspacing="0" cellpadding="0" style="background-color:#f7f7f7; border:1px solid #83954e;">
            <tr>
              <td colspan="2" align="left" valign="top" bgcolor="#cfeb79">
                <div class="greentitle"> Add New Plugin </div>
              </td>
            </tr>
            <%= render :partial => 'form', :locals => { :extension => extension } %>
          </table>
        <% end %>  
      </div>
      <div id = "rightinnerbottom"></div>
    </div>
    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
