
<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/content.png" style="vertical-align:middle; margin-right:8px;" />Content Management</div>
      </div>
          <br/><br/>
          <% form_for(@category, :url =>  admin_categories_path, :method => :post, :html => {:multipart => true}, :builder => BbFormBuilder  ) do |category| %>
        <div id = "matterinner" style="height:350px;">
          <tr>
            <td colspan="3" align="left" valign="top" bgcolor="#cfeb79"><div class="greentitle">Category - Add New Content</div></td>
          </tr>
          <%= render :partial => 'form', :locals => { :category => category } %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
</div><br/><br/><br/>
  </div>

