#left{
	background-image:url(../images/left_blue.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:5px;
	float:left;
	
}
#right{
	background-image:url(../images/right_blue.jpg);
	background-repeat:no-repeat;
	height:27px;
	width:5px;
	float:right;
}
#middle{
	
	height:27px;
	background-color:#657b89;
	width:982px;
	padding-top:5px;

}
#mid_bot{
	background-image:url(../images/mid_bot_blue.jpg);
	background-repeat:no-repeat;
	height:57px;
	width:982px;
	
}
#middle{
	
	height:27px;
	background-color:#657b89;
	width:982px;
	padding-top:5px;
	color:#FFFFFF;

}

#middle a {
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
    /*line-height: 1.3em;*/
    font-size: 11px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	margin:0px 10px 0px 10px;
	
}
#middle a:hover {
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
    /*line-height: 1.3em;*/
    font-size: 11px;
	font-weight:bold;
	color:#000000;
	text-decoration:underline;
	
}