*{
	padding:0px;
	margin:0px;
}
img, div { behavior: url(iepngfix.htc); }
/*#wrapper{
	width:1003px;
	height:100%;
	margin:auto;
	border-top:5px solid #b2dc25;
}*/
#top{
	width:1003px;
	height:135px;
	margin:auto;
}
#topleft{
	float:left;
	width:280px;
	height:135px;
/*	background-image:url(../images/logo.jpg);*/
	background-repeat:no-repeat;
}
#topright{
	float:right;
	width:723px;
	padding:0px;
	margin:0px;
}
#greynav{
	width:205px;
	height:28px;
	background-image:url(../images/greymid.jpg);
	background-repeat:repeat-x;
	margin-left:514px;
	margin-right:2px;
	margin-top:18px;
}
#greyleft{
	background-image:url(../images/greyleft.jpg);
	background-repeat:no-repeat;
	height:28px;
	width:7px;
	float:left;
}
#greyright{
	float:right;
	background-image:url(../images/greyright.jpg);
	background-repeat:no-repeat;
	height:28px;
	width:7px;
}
#greymid{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#c9c8c8;
	font-weight:bold;
	text-align:center;
	padding-top:8px;
}
#greymid a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#7a7a7a;
	font-weight:bold;
	text-decoration:none;
}
#greymid a:hover {
	color:#c9c8c8;
	text-decoration:none;
}
#tag{
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#aeaeae;
	padding-top:21px;
	padding-left:551px;
	text-align:right;
	padding-right:13px;
}
#greennav{
	width:1003px;
	
	height:34px;
	background-color:#b2dc25;
}
#greenleft{
	background-image:url(../images/greenleft.jpg);
	background-repeat:no-repeat;
	float:left;
	height:34px;
	width:8px;
}
#greenright{
	background-image:url(../images/greenright.jpg);
	background-repeat:no-repeat;
	float:right;
	height:34px;
	width:8px;
}
#greenmid{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	padding-top:7px;
/*	padding-left:380px; */
}
#greenmid a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	padding-left:11px;
	padding-right:11px;
}
#greenmid a:hover{
	color: #333333;
}
#greenmid a.active{
	color:#333333;
}
#display{
	
	height:206px;
	width:1003px;
	background-color:#b2dc25;
	margin-top:18px;
}
#displayleft{
	background-image:url(../images/displayleft.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:206px;
	float:left;
}
#displayright{
	background-image:url(../images/displayright.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:206px;
	float:right;
}
#borbig{
	background-image:url(../images/bl.jpg);
	background-repeat:repeat-x;
	height:10px;
	width:1003px;
	margin-top:4px;
}
#borbig1{

	height:10px;
	width:640px;
	margin-top:4px;
	margin-bottom:5px;
	border-bottom:1px dotted #cccbcb;
}
#container{
	width:1003px;
	height:100%;
	background-image:url(../images/containerline.jpg);
	background-repeat:repeat-y;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:18px;
	padding-bottom:20px;
}
#blankcontainer{
	width:1003px;
	height:100%;
	background-repeat:repeat-y;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:18px;
	padding-bottom:20px;
}
#containerinner{
	width:1003px;
	height:100%;
	background-image:url(../images/line.jpg);
	background-repeat:repeat-y;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:18px;
	padding-bottom:20px;
}
.title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#63686e;
	padding-left:8px;
	
}
.containerleft, #containerleft{
	float:left;
	margin:0px;
	width:539px;
	padding-left:24px;
	padding-right:43px;
}
#blank{
	float:left;
	margin:0px;
	padding-left:24px;
	padding-right:43px;
}
#containerleftinner{
	float:left;
	margin:0px;
	width:265px;
}
.containerright, #containerright{
	float:right;
	margin:0px;
	width:350px;
	padding-left:35px;
	padding-right:12px;
}
#containerrightinner{
	float:right;
	margin:0px;
	width:642px;
	padding-left:54px;
	padding-right:42px;
}
.black, #black{
	background-color:#f1f1f1;
	width:350px;
    min-height: 163px;
    height: auto !important;
	height:163px;
}
.blackleft, #blackleft{
	background-image:url(../images/blackleft.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:163px;
	float:left;
}
.blackright, #blackright{
	background-image:url(../images/blackright.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:163px;
	float:right;
}
.space{
	padding-left:13px;
	padding-right:19px;
}
#footer{
	width:1003px;
	height:59px;
	
	background-color:#f1f1f1;
}
#footerleft{
	background-image:url(../images/footerleft.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:59px;
	float:left;
}
#footerright{
	background-image:url(../images/footerright.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:59px;
	float:right;
}
#footermid{
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#989898;
	padding-top:18px;
}
/*#shell{
	width:860px;
	height:200px;
	
	margin-left:50px;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
#i1{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i2{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i3{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i4{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}*/
#leftnav{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7b7a7a;
	background-color:#f3f3f3;
	display:block;
	line-height:25px;
}
#leftnav a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7b7a7a;
	background-color:#f3f3f3;
	display:block;
	text-decoration:none;
	padding-left:40px;
}
#leftnav a:hover{
	color:#7b7a7a;
	background-color:#e8e8e8;
	border-right:6px solid #cccbcb;
	background-image:url(../images/arrow.jpg);
	background-repeat:no-repeat;
	background-position: 9px;
	border-bottom:1px dotted #dbdbdb;
	border-top:1px dotted #dbdbdb;
	line-height:23px;
	font-weight:bold;

}

#leftnav a.active{
	color:#7b7a7a;
	background-color:#e8e8e8;
	border-right:6px solid #cccbcb;
	background-image:url(../images/arrow.jpg);
	background-repeat:no-repeat;
	background-position: 9px;
	border-bottom:1px dotted #dbdbdb;
	border-top:1px dotted #dbdbdb;
	line-height:23px;
	font-weight:bold;
}
#featurecontainerinner{
	width:1003px;
	height:100%;
	background-image:url(../images/featureline.jpg);
	background-repeat:repeat-y;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	line-height:18px;
	padding-bottom:20px;
}
#featurecontainerleftinner{
	float:left;
	margin:0px;
	width:287px;
}
#featurecontainerrightinner{
	float:right;
	margin:0px;
	width:641px;
	padding-left:33px;
	padding-right:42px;
}
.glossymenu{

padding: 0;
width: 287px;
background-color:#f3f3f3; /*width of menu*/
}
.glossymenu div.submenu ul li{
/*	border-bottom: 1px dashed #dadad7;*/
	list-style-type: none;
	line-height:19px;
}
.glossymenu div.submenu ul li a{
display: block;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color: #929191;
text-decoration: none;
padding-bottom:3px;
padding-left: 15px;

}
.glossymenu div.submenu ul li a:hover{
background: #e1e1de;
color: #929191;
border-right:6px solid #cccbcb;
}
.glossymenu div.submenu ul li a.active{
background: #e1e1de;
color: #929191;
border-right:6px solid #cccbcb;
}

.glossymenu div.submenu ul li a span{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
font-weight:bold;
color: #444334;
text-decoration:none;

}
.glossymenu div.submenu ul li a:hover span{
text-decoration:underline;

}

.glossymenu div.submenu ul li a span.sel{
text-decoration:underline;
}
.bigger{
	font-weight:bold;
	font-size:14px;
	color:#5c5b5b;
}
.spacer{
	padding-right:40px;
}
.cards{
	float:right;
	
}
.ring{
	float:left;
	margin-right:54px;
	
}
/*ul.cloud { text-align: justify; word-spacing: 10px; } */
ul.cloud { word-spacing: 10px; }
ul.cloud li { display: inline; word-spacing: 0px; }
ul.cloud li a.size1, ul.cloud li a.size1:active, ul.cloud li a.size1:visited { font-size: 1em; text-decoration:none;color:#63686E }
ul.cloud li a.size2, ul.cloud li a.size2:active, ul.cloud li a.size2:visited { font-size: 1.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size3, ul.cloud li a.size3:active, ul.cloud li a.size3:visited { font-size: 1.754em; text-decoration:none;color:#63686E }
ul.cloud li a.size4, ul.cloud li a.size4:active, ul.cloud li a.size4:visited { font-size: 2em;font-weight: bold; text-decoration:none;color:#63686E }
ul.cloud li a.size5, ul.cloud li a.size5:active, ul.cloud li a.size5:visited { font-size: 2.304em; font-weight: bold;text-decoration:none;color:#63686E }
ul.cloud li a.size6, ul.cloud li a.size6:active, ul.cloud li a.size6:visited { font-size: 2.554em;font-weight: bold; text-decoration:none;color:#63686E }


#leftnav_tags{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#7b7a7a;
	background-color:#f3f3f3;
	display:block;
	line-height:25px;
}
