#wrapper{
	width:1003px;
	height:100%;
	margin:auto;
	border-top:5px solid #57c6e1;
}
#greennav{
	width:1003px;
	height:34px;
	background-color:#57c6e1;
}
#greenleft{
	background-image:url(../images/skyblueleft.jpg);
	background-repeat:no-repeat;
	float:left;
	height:34px;
	width:8px;
}
#greenright{
	background-image:url(../images/skyblueright.jpg);
	background-repeat:no-repeat;
	float:right;
	height:34px;
	width:8px;
}
#greenmid{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	padding-top:7px;
}
#greenmid a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	padding-left:11px;
	padding-right:11px;
}
#greenmid a:hover{
	color: #333333;
}
#greenmid a.active{
	color:#333333;
}
#display{
	
	height:206px;
	width:1003px;
	background-color:#57c6e1;
	margin-top:18px;
}
#displayleft{
	background-image:url(../images/displayleftskyblue.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:206px;
	float:left;
}
#displayright{
	background-image:url(../images/displayrightskyblue.jpg);
	background-repeat:no-repeat;
	width:7px;
	height:206px;
	float:right;
}
#shell{
	width:860px;
	height:200px;
	
	margin-left:50px;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
#i1{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i2{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i3{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
#i4{
	width:215px;
	height:200px;
	float:left;
	margin:0px;
}
