<div id="cont">
<div id="cont_mid">
	<div id="cont_top"></div>
  <div id="inner">
    <div class="inner_left">
      <% for page_section in @page_sections %>
        <%= page_section.is_processing_reqd ? process_erb_data(page_section.content) : page_section.content if page_section%>
        <div id="borbig1"></div><br/>
      <% end %>
    </div>
    <%= render :partial => 'category2_theme2' %>
    <div style="clear:both"></div>
</div>
</div>
<div id="cont_bot"></div>
</div>
