<div id = "container">
  <div style="padding-left:20px; padding-right:20px">
  <% for page_section in @page_sections %>
      <%= page_section.is_processing_reqd ? process_erb_data(page_section.content) : page_section.content if page_section%>
    <% end %>
  </div>
  <div class="cleardiv"/>
    <div style="clear:both"></div>
  </div><br/><br/>
</div>

