
		<div id = "featurecontainerleftinner">
			<div class="glossymenu">
        <% if @page.category_tag_cloud %>
          <%= render :partial => 'category_tag_cloud' if !@category_tags.empty?  %>
        <% else %>
          <div class="submenu">
						<ul>
            <% for category in @categories %>
						<li> <%= link_to "#{image_tag category.image.url(:small_thumb), :style => 'vertical-align:middle; margin-right:10px; margin-top:12px;'} <span>#{category.display_name}</span><br/><div style='padding-left:40px;'>#{category.description}</div>", sub_general_path(:page => @page.name, :category => get_category_permalink(category)), :class => check_active(@page, category) %></li>
            <% end %>
						</ul>
					</div>	
        <% end %>
			</div>
      <% if @page.tag_cloud %>
        <div class="glossymenu" style="margin-top:30px;">
          <%= render :partial => 'tag_cloud' if !@tags.empty?  %>
        </div>
      <% end %>
		</div>

