
	<div id = "footer"></div>
	<div id = "footerlinks">
      <% for footer in @footers %>
        <%= "|" if @footers.first != footer%>
        <%= link_to footer.display_name, general_path(:page => footer.page.name) %>
      <% end %>
      <br/><br/><%= @site.copyright_info if @site %> <span style='float:right'><%= JOSH_FOOTER %></span>
    </div>
	</div>
