<div id = "wrapper">
  <%= render :partial => '/layouts/admin/top' %>
  <div id = "container">
    <%= render :partial => '/layouts/admin/category' %>
    <div id = "rightinner">
      <div id = "titlegreenleft">
        <div class="greentitle"><img src="/images/siteconfiguration.png" style="vertical-align:middle; margin-right:8px;" />Site Configuration </div>
      </div>
      <br/><br/>
      <div id = "matterinner">
        <br/><br/>
        <div>
          <% form_for (@site, :url =>  admin_sites_path , :method => :post, :html => {:multipart => true}) do |site| %>
              <%= render :partial => 'form', :locals => { :site => site } %>
          <% end %>  
        </div>
        <br/>
      </div>
      <div id = "rightinnerbottom"></div>
    </div>

    <div style="clear:both"></div>
  </div><br/><br/><br/>
</div>
